.team-profiles {
    display: flex;
    justify-content: center; 
    gap: 10vmin;
    margin-top: 20px;
  }
  
  .team-profile-pic {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .team-profile-name{
    color: #BF6FE2;
    text-decoration: none;
    font-size: 3vmin;
    margin-bottom: 10px;
  }

  .team-profile-name:hover {
    transform: scale(1.08);
    transition: transform 0.2s ease-in-out;
  }

  .team-profile {
    color: white;
    text-align: center;
    font-size: 2vmin;
  }

  