.PAGES-home {
  margin-top: 16vh;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: center;
  height: 100vh;
  color: white;
}

.PAGES-home-card {
  animation: fadeIn 1s ease-out;
}

