.PAGES-install{
  margin-top: 16vh;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: center;
  height: 100vh;
}

.PAGES-install p{
  text-align: left;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  max-width: 75vw;
}
